html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


/* ヒーロー部分 */
#hero {
    height: 100%;
    text-align: center;
    
}

.logo {
    max-width: 700px;
    width: 100%;
}

.hero {
    position: relative;
    overflow: hidden;
    margin: 0;
}

.hero:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 65%;
    margin: 2% -10% 0;
    background: #FFC137;
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
    z-index: -1;
}

.hero_inner_img {
    position: absolute;
    max-width: 500px;
    width: 100%;
}

.hero_inner_img_sub {
    position: absolute;
    max-width: 500px;
    width: 100%;
    left: 10px;
    top: 290px;
}

@media (min-width: 1000px) {
    .hero {
        padding: 5%;
        top:0%;
    }
    
    .hero_inner_img {
        right: 40px;
    }
}

@media (max-width: 1650px) {
    .hero {
        top:0%;
    }
    
    .hero_inner_img_sub {
        bottom: 630px;
    }
}

@media (max-width: 1000px) {
    .hero {
        padding: 30%;
        top:-10%;
    }
    
    .hero_inner_img {
        right: 0;
    }
    
    .hero_inner_img_sub {
        top: 500px;
    }
}

@media (max-width: 900px) {
    .hero_inner_img_sub {
        bottom: 800px;
    }
}

@media (max-width: 800px) {
    .hero {
        padding: 10%;
        top:3%;
    }
    
    .hero_inner_img_sub {
        bottom: 570px;
        left: 0;
    }
}

@media (max-width: 700px) {
    .hero {
        padding: 20%;
        top:3%;
    }
}

@media (min-width: 600px) {
    .hero_inner_img_sub {
        bottom: 650px;;
    }
}


@media (max-width: 500px) {
    .hero_inner_img_sub {
        bottom: 360px;;
    }
}



/* ページ上にスクロールさせるボタン */
#pagetop{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 25px;
    bottom: 50px;
    background: #028bed;
    opacity: 0.6;
    border-radius: 50%;
}

#pagetop:hover{
    background: #6eb1e0;
    transition: 0.4s ;
}


#pagetop a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
    text-align: center;
}

#pagetop a::before{
    font-family: "Font Awesome 5 Free";
    content: '\f106';
    font-weight: 900;
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 10px;
    bottom: 10px;
    right: 0;
    left: 0;
    margin: auto;
}


/* コンテンツ部分 */
#sub {
    position: absolute;
    top: 100%;
    background: #FFC137;
    width: 100%;
    min-height: 600px;
    height: auto;
    padding-bottom: 100px;
}


/* フッター部分 */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding-top: 60px;
    background: #aaa;
    text-align: center;
}
